torch==2.7.1
torchsummary
streamlit
scikit-learn
scipy
numpy
matplotlib
pandas
seaborn
matplotlib-inline
jupyter
jupyter-console
jupyter-events
jupyter-lsp
jupyter_client
jupyter_core
jupyter_server
jupyter_server_terminals
jupyterlab
jupyterlab-widgets
jupyterlab_pygments
jupyterlab_server
opentsne
pillow